src/main/mule/jcedemoenryptmule4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6a1d4faf-8a26-4748-8332-5216f9b9dd60" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<crypto:jce-config name="Crypto_Jce" doc:name="Crypto Jce" doc:id="2f5a799b-bb60-4515-b2c0-c210050e6b59" keystore="aesKelltontech.jceks" password="123456" type="JCEKS">
		<crypto:jce-key-infos >
			<crypto:jce-symmetric-key-info keyId="aseKellton" alias="srccodes" password="123456" />
		</crypto:jce-key-infos>
	</crypto:jce-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="4ddf74ef-b002-47cd-9968-4d00b32d8186" >
		<vm:queues >
			<vm:queue queueName="jceQueue" />
		</vm:queues>
	</vm:config>
	<flow name="jcedemoenryptmule4Flow" doc:id="643c7feb-0e37-4efa-8b51-f0b34f8b997d" >
		<http:listener doc:name="Listener" doc:id="027793d6-6012-4ce8-871d-3779fda90590" config-ref="HTTP_Listener_config" path="/postJce"/>
		<crypto:jce-encrypt doc:name="Jce encrypt" doc:id="6e9502dd-f16c-4895-abfc-3e4ff4af5b70" config-ref="Crypto_Jce" keyId="aseKellton" algorithm="AES"/>
		<logger level="INFO" doc:name="Logger" doc:id="fac262ce-feb7-40e7-b6d8-74269162b902" message="======================== &gt; This is Main Flow logs :  ---#[payload]"/>
		<vm:publish doc:name="Publish" doc:id="7b8731b8-92ca-4530-b35d-e887825c8af7" config-ref="VM_Config" queueName="jceQueue"/>
	</flow>
	<flow name="jcedemoenryptmule4Flow1" doc:id="3f8e2fcf-44c1-404f-8714-cf1dcaf6cb18" >
		<vm:listener doc:name="Listener" doc:id="fddfa348-54bc-4171-abb6-b66d6fb8db2f" config-ref="VM_Config" queueName="jceQueue"/>
		<crypto:jce-decrypt doc:name="Jce decrypt" doc:id="95a95020-d540-4f97-b6aa-01a20e6afa9f" config-ref="Crypto_Jce" algorithm="AES" keyId="aseKellton"/>
		<logger level="INFO" doc:name="Logger" doc:id="d2e77328-ce06-4189-bc64-531af3e5eb49" message="======================== &gt; This is final logs :  ---#[payload]"/>
	</flow>
</mule>
